<div class="content h-100 d-grid place-items-center">
    <div class="banner p-4 w-75 d-flex align-items-center">
        <div class="img w-50">
            <img src="../../../assets/imgs/undraw_qa_engineers_dg-5-p.svg" width="100%">
        </div>
        <div class="text ml-4 w-50">
            <h5 class="font-weight-bold text-white">Ooops! Ocorreu um erro!</h5>
            <p class="text-white">Fique tranquilo. Nossa equipe técnica foi informada e está trabalhando na correção.</p>
        </div>
    </div>
</div>