<div class="container w-75 p-4">
    <form class="form border rounded p-4 d-flex flex-column">

        <h1 class="text-white mx-auto">Deletar Técnico</h1>
        <img class="mx-auto my-4" src="assets/imgs/tecnico-img.svg" width="200">

        <section class="d-flex justify-content-around align-items-center text-white">
            <mat-checkbox [disabled]="true" class="margin" color="primary">Admin</mat-checkbox>
            <mat-checkbox [disabled]="true" class="margin" color="primary">Cliente</mat-checkbox>
            <mat-checkbox [disabled]="true" class="margin" color="primary">Tecnico</mat-checkbox>
        </section>

        <mat-form-field class="my-2" appearance="outline">
            <mat-label>Nome</mat-label>
            <input 
                [(ngModel)]="tecnico.nome" 
                [disabled]="true"
                name="nome" 
                matInput>
            <mat-icon matSuffix>person</mat-icon>
        </mat-form-field>

        <mat-form-field class="my-2" appearance="outline">
            <mat-label>CPF</mat-label>
            <input 
                [(ngModel)]="tecnico.cpf" 
                [disabled]="true"
                name="cpf" 
                matInput>
            <mat-icon matSuffix>pin</mat-icon>
        </mat-form-field>

        <mat-form-field class="my-2" appearance="outline">
            <mat-label>E-mail</mat-label>
            <input 
                [(ngModel)]="tecnico.email" 
                [disabled]="true" 
                name="email" 
                matInput>
            <mat-icon matSuffix>email</mat-icon>
        </mat-form-field>

        <mat-form-field class="my-2" appearance="outline">
            <mat-label>Senha</mat-label>
            <input 
                [(ngModel)]="tecnico.senha" 
                [disabled]="true"  
                name="senha" 
                type="password" 
                matInput>
            <mat-icon matSuffix>password</mat-icon>
        </mat-form-field>
        <div class="d-flex my-2">
            <div class="col-lg-6 pl-0">
                <button routerLink="../../" class="btn btn-secondary-outline mat-elevation-z4 w-100" color="warn">
                    Cancelar
                </button>
            </div>
            <div class="col-lg-6 pr-0">
                <button (click)="delete()" class="btn btn-primary mat-elevation-z4 w-100"
                    color="primary">
                    Deletar
                </button>
            </div>
        </div>
    </form>

</div>